
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


 html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
 
        font-family: 'Montserrat';
      
    @apply  scrollbar-thin  scrollbar-thumb-primary-green scrollbar-track-transparent;
  
}
/* src/index.css (or your main CSS file) */


  

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

 main {
    flex: 1;
    display: flex;
    flex-direction: column;
} 
#form-btn{
    background-color: #24642B;
} 

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4caf50; 
    border-radius: 4px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  .custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #4caf50 #f1f1f1; 
  }
  /* Custom arrow styles with vibrant green color */
  .slick-prev,
  .slick-next {
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background-color 0.3s, transform 0.3s;
  }

  .slick-prev {
    left: -3rem;
  }

  .slick-next {
    right: -3rem;
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    position: relative;
    opacity: .75;
    color: #28a745;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 0.7rem;
}

